$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

@mixin mobile-screen {
  @media screen and (max-width: $sm) {
    @content;
  }
}

@mixin tablet-screen {
    @media screen and (max-width: $md) {
      @content;
    }
  }
